@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.course-container {
    padding: 10px;
    margin: 0 auto;
}

h1 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 50px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.course-description {
    width: 70%;
}

.course-description p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.course-details {
    display: flex;
    justify-content: space-evenly;
}

.course-box {
    width: 150px;
    font-size: 18px;
}

.course-box h2 {
    margin-bottom: 10px;
}

.course-box p {
    font-size: 18px;
    margin-top: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-image-container {
        display: none;
    }
    h1 {
        margin-bottom: 0;
        font-size: 40px;
    }
    .course-description p {
        font-size: 16px;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .course-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .course-description {
        width: 100%;
    }
    .course-main-image {
        width: 60%;
    }
    .footer-image-container {
        display: none;
    }
    .course-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}